@charset "utf-8";
/*
Template Name: Escarine-Hol
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.4.0.min.css");
@import url("travel-font.css");
@import url("framework.css");

/* Basic Preloader - Only used on homepage, but can be used on all pages
--------------------------------------------------------------------------------------------------------------- */
#preloader{display:block; position:fixed; top:0; right:0; bottom:0; left:0; z-index:999; font-size:18px; line-height:18px; text-align:center; text-transform:uppercase;}
#preloader div{display:block; position:relative; top:50%; left:50%; width:200px; height:30px; margin:-15px 0 0 -100px;}
#preloader div:after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:"Loading...";}


/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0{border-bottom:1px solid;}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5{border-top:1px solid;}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:5px 0; font-size:12px;}

#topbar .fl_left{margin-top:4px;}
#topbar .fl_left .inline > li i{margin:0 5px 0 0; line-height:normal;}

#topbar .faico li{margin:0;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header1{padding-top: 15px; padding-bottom: 10px;}

#header #logo{margin-top:;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}


/* Sub Pages
--------------------------------------------------------------------------------------------------------------- */
#pagetitle{padding:80px 0 0 0;}
#pagetitle *{margin:0; padding:0;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
/*#pageintro{padding:300px 0 200px 0; }*/

#pageintro .introtxt{display:block; max-width:75%;}
#pageintro .introtxt *{margin:0;}
#pageintro .introtxt .heading{margin-bottom:15px; font-size:30px;}
#pageintro .introtxt p{font-size:14px; line-height:1.4;}


/* Intro Blocks
--------------------------------------------------------------------------------------------------------------- */
#introblocks{position:relative; margin:-120px auto 0; z-index:1;}
#introblocks ul{}
#introblocks ul li{text-align:center; border:1px solid;}
#introblocks ul li:last-child{}
#introblocks ul li *{margin:0; padding:0;}
#introblocks ul li .btn{margin-bottom:28px;}
#introblocks ul li article{display:block; padding:30px 0 15px 0;}
#introblocks ul li .heading{font-size:1.2rem; text-transform:uppercase;}


/* Holiday Types
--------------------------------------------------------------------------------------------------------------- */
#holtypes{padding:12px 0 -10px;}/* Bottom padding takes the "li" bottom margin into consideration */

#holtypes .heading{margin-bottom:53px; font-size:1.8rem;}
#holtypes .underline.center::after{margin:15px auto 0;}

#holtypes ul{}
#holtypes ul li{margin-bottom:50px; padding:25px 0 0 0; text-align:center;}
#holtypes ul li *{margin:0; padding:0; line-height:1;}
#holtypes ul li article{position:relative; padding:50px 25px 25px 25px; border:1px solid;}
#holtypes ul li .btn i{position:absolute; top:0; left:50%; width:80px; height:80px; line-height:78px; margin:-40px 0 0 -40px;}
#holtypes ul li .btn i::after{position:absolute; top:8px; right:8px; bottom:8px; left:8px;}
#holtypes ul li .btn .tr{font-size:30px;}/* Travel Icons */
#holtypes ul li .btn .fa{font-size:26px;}/* Font Awesome Icons */
#holtypes ul li .heading{margin-bottom:9px; font-size:1.2rem; text-transform:uppercase;}
#holtypes ul li p{line-height:1.4rem;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:13px 0;}

/* Content */
.container .content{}

ul#home.elements li figure figcaption{text-align:center; border:solid; border-width:0 1px 1px 1px;}
#lastminute.elements li figure figcaption{border:solid; border-width:0 1px;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

/*.cp {text-align: center; color: red}*/
/* Contact Information
--------------------------------------------------------------------------------------------------------------- */
#contactinfo{padding:50px 0; text-align:center;}

#contactinfo ul{}
#contactinfo ul li{padding:25px 0 0 0;}
#contactinfo ul li *{margin:0; padding:0; line-height:1.6;}
#contactinfo ul li .infobox{display:block; position:relative; padding:35px 20px 25px 20px; border:1px solid;}
#contactinfo ul li .infobox i{display:inline-block; position:absolute; top:0; left:50%; width:50px; height:50px; line-height:50px; margin:-25px 0 0 -25px; font-size:18px; z-index:1;}
#contactinfo ul li .infobox i::after{position:absolute; top:5px; right:5px; bottom:5px; left:5px; border:1px solid; content:""; z-index:-1;}
#contactinfo ul li .infobox .tr{}/* Travel Icons */
#contactinfo ul li .infobox .fa{font-size:18px;}/* Font Awesome Icons */
#contactinfo i, #contactinfo i::after{border-radius:50%;}


/* Newsletter
--------------------------------------------------------------------------------------------------------------- */
#newsletter{padding:25px 0;}
#newsletter .heading{margin:5px 0 0 0; padding:0;}
#newsletter .heading i{margin-right:8px;}
#newsletter input, #newsletter button{height:38px; padding:10px 12px; border:none;}
#newsletter button{font-weight:bold; text-transform:uppercase; cursor:pointer;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:50px 0;}

#footer .title{margin:0 0 30px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:1.2rem;}

#footer .linklist li{margin-bottom:10px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .font-xs{margin:0;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul.clear{margin-top: -17px;  margin-bottom: -18px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:0 0 32px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:5px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:0 0 30px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 3px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:.8rem; text-transform:uppercase;}
#breadcrumb li a::after{top:2px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

.footerlast{
            min-height: 275px;
            width:100%;
            border-top: 1px solid black;
        }
.footerlast img{
	margin-left: 627px;
	margin-top: 35px;
}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 2px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:inline-block; width:30px; height:30px; line-height:30px; font-size:14px; text-align:center;}
.faico a{color:inherit; background-color:transparent;}

.faicon-dribble:hover{color:#EA4C89;}
.faicon-facebook:hover{color:#3B5998;}
.faicon-google-plus:hover{color:#DB4A39;}
.faicon-linkedin:hover{color:#0E76A8;}
.faicon-pinterest:hover{color:#C8232C;}
.faicon-rss:hover{color:#EE802F;}
.faicon-twitter:hover{color:#00ACEE;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888; background-color:#F7F7F7;}
a{color:#51C4BE;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#51C4BE;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.3);}
.imgoverlay::after{color:#FFFFFF; border-color:rgba(255,255,255,.3); background-color:rgba(0,0,0,.3);}

.btn i{color:#FFFFFF; background-color:#51C4BE;/* IE9 Fallback */ background:linear-gradient(to top right, #256D6A, #51C4BE);}
.btn i::after{border-color:rgba(255,255,255,.5);}
.btn:hover i::after{background-color:#51C4BE;}

.red{color:#F36174;}

.elements li figure figcaption{color:#888888; background-color:#FFFFFF;}
.elements li .elementinfo .starrating li *{color:inherit;}
.elements li .elementinfo .starrating li .coloured{color:#FF7659;}


/* Basic Preloader */
#preloader{color:#FFFFFF; background-color:rgba(0,0,0,.85);}


/* Rows */
.row0{color:#D7D7D7; background-color:rgba(0,0,0,.65); border-color:#333333;}
.row1{color:#FFFFFF; background-color:rgba(0,0,0,.6);}
.row2, .row2 a{}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:#888888; background-color:#FFFFFF;}
.row5{color:#888888; background-color:#F7F7F7; border-color:#D7D7D7;}
.wrapper.coloured{color:#FFFFFF; background-color:#51C4BE;}

/* Header */
#header #logo a{color:inherit;}

/* Page Intro */
#pageintro{color:#FFFFFF; background-color:transparent;}


/* Intro Blocks */
#introblocks ul li{color:#464646; background-color:rgba(255,255,255,.6); border-color:#D7D7D7;}
#d1 li:hover{background-color: #cce6ff;}
#d2 li:hover{background-color: #F5F5DC;}
#d3 li:hover{background-color: #ffb3ff;}
#d4 li:hover{background-color:#7FFFD4;}

#introblocks ul li a{color:inherit;}
#introblocks ul li:hover a{color:#51C4BE;}
#introblocks ul li:hover .btn i{text-shadow:0 1px 0 #CCCCCC,0 2px 0 #333333,0 1px 0 #BBBBBB,0 4px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25)}
#introblocks ul li:nth-child(1):hover .btn i::after{background-color:#F9CD36;}/* Yellow */
#introblocks ul li:nth-child(2):hover .btn i::after{background-color:#FF7659;}/* Orange */
#introblocks ul li:nth-child(3):hover .btn i::after{background-color:#9771BD;}/* Purple */
#introblocks ul li:nth-child(4):hover .btn i::after{background-color:#F36174;}/* Red */


/* Holiday Types */
#holtypes .underline::after{background-color:#D7D7D7;}
#holtypes ul li article{color:inherit; background:#FFFFFF; border-color:#D7D7D7;}
#holtypes ul li:hover .btn i::after{background-color:#51C4BE;}


/* Content Area */
.container .underline::after{background-color:#D7D7D7;}

ul#home.elements li figure figcaption{border-color:#D7D7D7;}

#lastminute.elements li figure figcaption{color:#888888; background-color:#F7F7F7;}
#lastminute.elements li figure figcaption, #lastminute.elements li .elementinfo{border-color:#D7D7D7;}


/* Contact Information */
#contactinfo ul li .infobox{color:#888888; background-color:#FFFFFF; border-color:#D7D7D7;}
#contactinfo ul li .infobox i{color:#FFFFFF; background-color:#888888;/* IE9 Fallback */ background:linear-gradient(to top right, #4B4B4B, #9A9A9A);}
#contactinfo ul li .infobox i::after{border-color:rgba(255,255,255,.6);}


/* Newsletter*/
#newsletter{color:#FFFFFF; background-color:#51C4BE;}
#newsletter input{color:#212427; background-color:#FFFFFF;}
#newsletter button{color:#FFFFFF; background-color:#256D6A;}


/* Footer */
#footer .title{border-color:#D7D7D7;}


/* Copyright */
#copyright a{color:inherit;}

.welcome {
	height: 200px;
	width: 100%;
	text-align: center;
	margin-top: 35px

}











/*start*/
@import "compass/css3";

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
    .slick-loading & {
        background: white url(./ajax-loader.gif) center center no-repeat;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    margin: 33px;
    min-height: 1px;
    img {
        display: block;
        &.slick-loading {
            background: white url(./ajax-loader.gif) center center no-repeat;
            padding-bottom: 100%;
        }
    }
    display: none;
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}



/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}
    .slick-prev:focus,
.slick-next:focus {
        outline: none;
    }
    .slick-prev .slick-disabled:before,
.slick-next .slick-disabled:before {
        opacity: 0.25;
    }

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}
    .slick-prev:before {
        content: '\f060';
        font-family: Fontawesome;
    }

.slick-next {
    right: -25px;
    }
    .slick-next:before {
        content: '\f061';
        font-family: Fontawesome;
    }

/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0px 5px;
        padding: 0px;
        cursor: pointer;
        }
        .slick-dots button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            outline: none;
            }
            .slick-dots:focus {
                outline: none;
            }
            }
            .slick-dots:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\2022';
                width: 20px;
                height: 20px;
                font-family: "slick";
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                color: black;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        
        .slick-dots .slick-active button:before {
            opacity: 0.75;
        }


.blue, html {
    background: #3498db;
    color: #fff;
}


/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
 }
    .slick-dots li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0px 5px;
        padding: 0px;
        cursor: pointer;
        }
        .slick-dots button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            outline: none;
            }
            .slick-dots:focus {
                outline: none;
            }
            .slick-dots:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '\2022';
                width: 20px;
                height: 20px;
                font-family: "slick";
                // font-size: 6px;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                // color: black;
                color: white;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        
       .slick-dots .slick-active button:before {
            opacity: 0.75;
        }
    


/*end*/
.wrapper{
  
    width: 100%;
}

#homeslide{
	height: 400px;
}
.all-header {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
}

/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#51C4BE; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#51C4BE;}
#mainav form select{color:#FFFFFF; background-color:#212427; border-color:rgba(136,136,136,.5);/* #888888 */}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:inherit;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#51C4BE;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#51C4BE;}

#backtotop{color:#FFFFFF; background-color:#51C4BE;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#51C4BE;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}

/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{padding-bottom:30px;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
	.elements .fl_left{float:left;}
	.elements .fl_right{float:right;}

	ul#home{text-align:center;}
	ul#home.elements li{margin:0 auto 30px;}

	#topbar{text-align:center;}
	#topbar *{margin:0;}
	#topbar .fl_left ul{margin:0 0 10px 0; line-height:normal;}
	#topbar .fl_left ul li{display:inline-block; margin-right:20px;}
	#topbar .fl_left ul li:last-child{margin-right:0;}
	#topbar .faico li{float:none;}

	#header{text-align:center;}
	#header #logo{margin-bottom:15px;}

	#pageintro{padding-top:100px;}
	#pageintro .introtxt{max-width:none;}
	#pageintro .introtxt .heading{font-size:32px;}

	#introblocks ul li{display:inline-block; float:left; width:48.46625766871166%; margin:0 3.06748466257669% 15px 0;}
	#introblocks ul li:nth-child(even){margin-right:0; clear:right;}

	.container{padding-bottom:50px;}

	#footer{padding-bottom:20px;}
	#newsletter input{display:block; width:100%; padding:10px 12px;}
	#newsletter form, #newsletter button{margin-bottom:0;}
}


@media screen and (max-width:450px){
	#topbar .fl_left ul li{display:block; margin:5px 0 0 0;}
	#topbar .fl_left ul li:first-child{margin:0;}

	#introblocks ul li{display:block; float:none; width:100%; margin-right:0;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}
}











